{{#each movies}}
  <div class="card blue-grey darken-1">
          <div class="card-content white-text">
              <span class="card-title">{{Title}}</span><span class="chip deleteChip">Delete<i class="close material-icons">close</i></span>
            <p>{{Year}}</p>
            <p>{{Actors}}</p>
            <p>{{imdbRating}}</p>
            <p>{{Watched}}</p>
          </div>
          <div class="card-action">
            <a href="#">Add to Watchlist</a>
            <a href="#">Rating:</a>
            <div class="ratingArea">
              <span class="rating">RATE: </span><a href="#" class="ratingStar"><i class="tiny material-icons">star</i></a>
              <a href="#" class="ratingStar"><i class="tiny material-icons">star</i></a>
              <a href="#" class="ratingStar"><i class="tiny material-icons">star</i></a>
              <a href="#" class="ratingStar"><i class="tiny material-icons">star</i></a>
              <a href="#" class="ratingStar"><i class="tiny material-icons">star</i></a>
            </div>
          </div>
  </div>
{{/each}}
